<div class="form-group">
  <label for="number">Number</label>
  <input type="text" [(ngModel)]="number" class="form-control" id="number" />
  <p>{{ number }}</p>
</div>

<div class="">
  <button class="btn btn-success" (click)="mudaValor()">Click</button>
  <p>SLICE: {{ text | slice: 3:8 }}</p>
  <!--Especifica os valores do range da string a ser exibido-->

  <p>sem formatacao:</p>
  <p>{{ number | number }}</p>

  <p>com formatacao</p>
  <p>{{ number | number: "2.0-1" }}</p>
  <!--Number: 2.0-1 indica q sera exebido apenas dois caracters antes da virgula e um caracter depois da virgula, por isso 2.0-1-->

  <p>resultado em moeda</p>
  <p>{{ number | currency: "BRL" }}</p>

  <p>resultado em porcentagem</p>
  <p>{{ number | percent }}</p>
  <!--Number: 2.0-1 indica q sera exebido apenas dois caracters antes da virgula e um caracter depois da virgula, por isso 2.0-1-->

  <p>Data de hoje sem formatacao</p>
  <p>{{ data }}</p>
  <p>Data de hoje com formatacao</p>
  <p>{{ data | date | uppercase }}</p>
  <p>Outros exemplos do pipe DATE</p>
  <p>{{ data | date }}</p>
  <p>DATA FORMATADA: {{ data | date: "dd/MM/yyyy":"GMT-0300":"en-US" }}</p>
  <p>{{ data | date: "mediumTime" }}</p>

  <p>{{ pessoa | json }}</p>
  <p>{{ text }}</p>
</div>

<div class="container">
  <div class="col">
    <div class="row-6">
      <div class="form-group">
        <label for="text">Print Pipe Test:</label>
        <input type="text" name="text" id="text" #nome/>
        <button class="btn btn-primary" (click)="add(nome.value); nome.value = ''">add</button>
      </div>
    </div>
    <div class="row-6">
        <h3>Lista formatada</h3>
        <p>Tamanho da lista {{ nomes.length }}</p>
        <p>{{nomes | printList}}</p>
    </div>
  </div>
</div>
