@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(177, 225, 255);
}

p {
    margin-top: 15px;
}

#counter {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#currentNumber{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

button {
    border: 2px solid lightcoral;
    color: lightcoral;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
